<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {{{title}}}
    </title>

</head>
<body id="body">
     {{!-- {{#if session.user}}
      <div class="nav">
        <a href="/auth/logout">Logout</a>
        <a href="/attractions/">Upcoming Attractions</a>
      </div>
    {{/if}} --}}
    {{#if session.user}}
      <ul id="navbar">
          {{#if session.user.is_business}}
          <li><a href="/attractions/">Upcoming Attractions</a></li>
          <li><a href="/business/{{session.user._id}}" target="_self" class="nav-item">Profile</a></li> 
          <li><a href="/attractions/create" target="_self" class="nav-item">Create an Attraction</a></li> 
          <li><a href="/attractions/editAttraction/{{session.user.username}}" target="_self" class="nav-item">Edit an Attraction</a></li> 
          <li><a href="/attractions/submissions/{{session.user.username}}" target="_self" class="nav-item">View Submissions</a></li> 
          <li><a href="/auth/logout">Logout</a></li>
          {{else}}
          <li><a href="/attractions/">Upcoming Attractions</a></li>
          <li><a href="/user/{{session.user.username}}" target="_self" class="nav-item">Profile</a></li> 
          <li><a href="/user/redeemRewards/{{session.user.username}}" target="_self" class="nav-item">Redeem Rewards</a></li> 
          <li><a href="/auth/logout">Logout</a></li>
          {{/if}}
      </ul>
    {{/if}}

    {{{body}}}
    <link rel = "stylesheet" href = "../../public/css/hobokenhappenings.css">
    <script src="../../public/js/hobokenhappenings.js"></script>
</body>
</html>