<main>
    <div class="attraction-holder">
        {{#each attractions}}
            <div class="attraction">
                    <div class="row">
                        <a href="http://localhost:3000/attractions/{{this._id}}" target="_self" class="attractionUrl">{{this.attractionName}}</a>
                        <p class="date"> {{this.date}}, {{this.startTime}}-{{this.endTime}}</p>
                    </div>
                    <div class="row">
                        <i>{{this.description}}</i>
                    </div>
                    <div class="row">
                        <p class="bold">Points offered: </p>
                        <p>{{this.pointsOffered}} (+ {{this.bonusPoints}} bonus points)</p>
                    </div>
            </div>
        <br/>
        {{/each}}
    </div>
</main>