<div class="resize">
    <ul id="navbar">
        <li><a href="http://localhost:3000/user/{{user.username}}" target="_self" class="nav-item">Profile</a></li> 
        <li><a href="http://localhost:3000/user/redeemRewards/{{user.username}}" target="_self" class="nav-item">Redeem Rewards</a></li> 
        <li><a href="http://localhost:3000/attraction/editAttraction/{{user.username}}" target="_self" class="nav-item">Click here to edit an attraction</a></li> 
    </ul>
</div>

<main>
    <div class="attraction-holder">
    {{#each attractions}}
    <div class="attractions">
        <div class="content">
            <div class="row">
                <p class="bold">Name of Event: </p>
                <p>{{this.attractionName}}</p>
            </div>
            <div class="row">
                <p class="bold">Description: </p>
                <p>{{this.description}}</p>
            </div>
            <div class="row">
                <p class="bold">Date of event: </p>
                <p> {{this.date}}</p>
            </div>
            <div class="row">
                <p class="bold">Start Time: </p>
                <p>{{this.startTime}}</p>
            </div>
            <div class="row">
                <p class="bold">End Time: </p>
                <p>{{this.end_time}}</p>
            </div>
            <div class="row">
                <p class="bold">Points offered: </p>
                <p>{{this.pointsOffered}}</p>
            </div>
            <div class="row">
                <p class="bold">Bonus points: </p>
                <p>{{this.bonusPoints}}</p>
            </div>
        </div>
    </div>
    <br/>
    {{/each}}
</div>
<div>
</main>