<div class="resize">
    <ul id="navbar">
        {{#if session.user.is_business}}
        <li><a href="http://localhost:3000/business/{{session.user._id}}" target="_self" class="nav-item">Profile</a></li> 
        <li><a href="http://localhost:3000/attractions/create" target="_self" class="nav-item">Click here to create an attraction</a></li> 
        <li><a href="http://localhost:3000/attractions/editAttraction/{{session.user.username}}" target="_self" class="nav-item">Click here to edit an attraction</a></li> 
        {{else}}
        <li><a href="http://localhost:3000/user/{{user.username}}" target="_self" class="nav-item">Profile</a></li> 
        <li><a href="http://localhost:3000/user/redeemRewards/{{user.username}}" target="_self" class="nav-item">Redeem Rewards</a></li> 
        {{/if}}
    </ul>
</div>

<main>
    <div class="attraction-holder">
    {{#each attractions}}
    <div class="attractions">
        <div class="content">
            <div class="row">
                <p class="bold">Name of Event: </p>
                <a href="http://localhost:3000/attractions/{{this._id}}" target="_self" class="attractionUrl">{{this.attractionName}}</a>
            </div>
            <div class="row">
                <p class="bold">Description: </p>
                <p>{{this.description}}</p>
            </div>
            <div class="row">
                <p class="bold">Date of event: </p>
                <p> {{this.date}}</p>
            </div>
            <div class="row">
                <p class="bold">Start Time: </p>
                <p>{{this.startTime}}</p>
            </div>
            <div class="row">
                <p class="bold">End Time: </p>
                <p>{{this.endTime}}</p>
            </div>
            <div class="row">
                <p class="bold">Points offered: </p>
                <p>{{this.pointsOffered}}</p>
            </div>
            <div class="row">
                <p class="bold">Bonus points: </p>
                <p>{{this.bonusPoints}}</p>
            </div>
        </div>
    </div>
    <br/>
    {{/each}}
</div>
<div>
</main>