<main>
    <a href="/user/editProfile/{{user._id}}" class="a-format">Click here to edit your profile</a>
    {{#if error}}
        <p>{{message}}</p>
    {{else}}
        <div>
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <p id="username">Username: {{user.username}}</p>
            <p id="emailAddress">Email Address: {{user.emailAddress}}</p>
            <p id="age">Age: {{user.age}}</p>
            <p id="points">Points: {{user.points}}</p>
            {{!-- {{#if ownPage}}
            <button
                id="editProfile"
                onclick="window.location.href='/business/id/{{business._id}}/editProfile';"
            >Edit Profile</button>
            {{/if}} --}}
            {{!-- <p id="currentUsername" hidden>{{currentUsername}}</p> --}}
        </div>
    {{/if}}

</main>