<main>
     <div class="column">
        <form id="filter" action="/attractions/submissions/{{busName}}/{{attName}}" method="POST" class="filter">
            <br/>
            <label for="filterOptions">Filter Submissions By:</label>
            <p></p>
            <select name="filterOptions" id="filterOptions">
                <option value="Approved">Approved</option>
                <option value="Pending">Pending</option>
                <option value="Declined">Declined</option>
            </select>
            <p></p>
            <label for="submit">
                <button type="submit" name="submit" id="submit">Submit</button>
            </label>
        </form>
    </div>
    <div class="attraction-holder">
        <h1 id="submission-title">{{attractions.attractionName}} Submissions</h2>
        {{#if submissions}}
        {{else}}
            <p class="center-text">No submissions yet! Check back later!</p>
        {{/if}}
        {{#each submissions}}
            <div class="submission">
                <div class="row">
                    <img src={{this.image}} alt="Image" width="200" height="300">
                    <p class="date"> {{this.date}}, {{this.time}}</p>
                </div>
                <div class="row">
                    <i>{{this.comment}}</i>
                </div>
                <div class="row">
                    <p class="bold">Rating: </p>
                    <p>{{this.rating}}</p>
                </div>
                <div class="row">
                    <p>{{this.status}}</p>
                </div>
            </div>
        <br/>
            <form id="finalizeSubmission" action="/attractions/submissions/{{../busName}}/{{../attName}}" method="POST">
                <label for="submission">Is submission accepted?</label>
                <select id="submission" name="submission">
                    <option>Yes</option>
                    <option>Yes - With Bonus Points</option>
                    <option>No</option>
                </select>
                <input type="hidden" id="post", name="post" value={{this._id}}>
                <input type="hidden" name="_method" value="PUT">
                <button type="submit">Submit</button>

            </form>
        {{/each}}
    </div>
</main>